@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Montserrat:wght@500&family=Poppins:wght@200&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

.header {
  font-family: "Poppins";
  font-weight: bolder;
  background-color: rgb(78, 78, 15);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}

.contact_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.contact_row .logo {
  font-size: 40px;
}

.navBar ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 4rem;
}
.navBar ul a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.navBar ul :hover {
  transform: scale(1.3);
  transition: 0.2s;
}

h1 {
  font-family: "Poppins";
  font-size: 60px;
  letter-spacing: 10px;
}

h2 {
  font-family: "Poppins";
  font-size: 30px;
  letter-spacing: 5px;
  word-wrap: break-word;
}

.index_container {
  border-style: solid;
  border-color: gold;
  border-width: 5px;
  color: white;
  display: grid;
  height: 102vh;
  width: 100%;
  max-width: 1366px;
  margin: 0 auto; /*el espacio libre entre width y max-width lo distribuye en igual proporción a ambos lados*/
  grid-template-columns: repeat 3, 1fr;
  grid-template-rows: 65% 35%;
  column-gap: 0rem;
  /*row-gap: 20px;*/
  grid-template-areas: "logo      logo      logo" "quienSoy  trabajos  contacto";
}

.index_logo {
  grid-area: logo;
  background-image: url("../images/index_logo.jpg");
  background-position-y: center;
  background-position-x: right;
  background-size: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: white;
}

.index_quienSoy {
  grid-area: quienSoy;
  background-image: url("../images/index_quiensoy2.jpg");
  background-size: cover;
  background-position: 50% 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  transition: transform 0.3s;
}
.index_quienSoy:hover {
  transform: scale(1.1);
}

.index_trabajos {
  grid-area: trabajos;
  background-image: url("../images/index_trabajos.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  transition: transform 0.3s;
}
.index_trabajos:hover {
  transform: scale(1.1);
}

.index_contacto {
  grid-area: contacto;
  background-image: url("../images/index_contacto.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  transition: transform 0.3s;
}
.index_contacto:hover {
  transform: scale(1.1);
}

.index_row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index_icons {
  flex-direction: row;
}
.index_icons .icons_mic,
.index_icons .icons_head,
.index_icons .icons_radio {
  max-width: 50px;
  padding: 10px;
}

.main_contacto {
  display: grid;
  height: 98vh;
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  grid-template-columns: 1.5fr 2fr;
  grid-template-rows: 60% 40%;
  column-gap: 0rem;
  row-gap: 0rem;
  grid-template-areas: "form              foto_locutora" "foto_notebook     instagram";
}

.form {
  grid-area: form;
}

.foto_locutora {
  grid-area: foto_locutora;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.foto_notebook {
  grid-area: foto_notebook;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.instagram {
  grid-area: instagram;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.icon_whatsapp {
  width: 400px;
  height: auto;
}

.icon_fiverr {
  width: 160px;
  height: auto;
}

.icon_insta {
  display: block;
  position: relative;
}
.icon_insta .icon_instabrad {
  width: 400px;
  height: auto;
}
.icon_insta .icons_mic_contact {
  width: 60px;
  height: auto;
  background-color: transparent;
  position: absolute;
  bottom: 100px;
  left: 169px;
}

.main_trabajos {
  display: grid;
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: max-content auto auto max-content;
  min-height: 100vh;
  grid-gap: 0;
  grid-template-areas: "header      header    header" "trabajo1      trabajo2    trabajo3" "trabajo4      trabajo5    trabajo6" "footer        footer       footer";
}

.header {
  grid-area: header;
  margin-bottom: 5px;
}

.trabajo1,
.trabajo2,
.trabajo3,
.trabajo4,
.trabajo5,
.trabajo6 {
  background-size: cover;
  background-position: 50% 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  padding: 10px;
  margin: 10px;
}

.trabajo1 {
  grid-area: trabajo1;
  background-image: url("../images/index_trabajos.jpg");
}

.trabajo2 {
  grid-area: trabajo2;
  background-image: url("../images/index_trabajos.jpg");
}

.trabajo3 {
  grid-area: trabajo3;
  background-image: url("../images/index_trabajos.jpg");
}

.trabajo4 {
  grid-area: trabajo4;
  background-image: url("../images/index_trabajos.jpg");
}

.trabajo5 {
  grid-area: trabajo5;
  background-image: url("../images/index_trabajos.jpg");
}

.trabajo6 {
  grid-area: trabajo6;
  background-image: url("../images/index_trabajos.jpg");
}

.footer {
  grid-area: footer;
  margin-top: 5px;
}

.slider {
  background: transparent;
  background-image: linear-gradient(to right, transparent, transparent, white, transparent, transparent);
  height: 8 70px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 1140px;
  margin: 0;
}

/*before es la izquierda de la pantalla - el gradiente se mueve a la izq empezando en blanco
.slider::before {
  background: linear-gradient(to left, #fff 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100%;
  position: absolute;
  width: 500px;
  z-index: -1;
}
*/
/*
.slider::after {
  background: linear-gradient(to right, #fff 100%, rgba(255, 255, 255, 0) 0%);
  content: "";
  height: 100%;
  position: absolute;
  width: 500px;
  z-index: -1;
}

.slider::before {
  left: 0;
  top: 0;
}
.slider::after {
  right: 0;
  top: 0;
  /*-webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}*/
.slider .slide-track {
  animation: scroll 60s linear infinite;
  display: flex;
  width: 4500px;
}

.slider .slide-track:hover {
  animation-play-state: running;
}

.slider .slide {
  height: 70px;
  width: 250px;
}

.slide:nth-child(1) {
  background-color: transparent;
}

.slide:nth-child(2) {
  background-color: transparent;
}

.slide:nth-child(3) {
  background-color: transparent;
}

.slide:nth-child(4) {
  background-color: transparent;
}

.slide:nth-child(5) {
  background-color: transparent;
}

.slide:nth-child(6) {
  background-color: transparent;
}

.slide:nth-child(7) {
  background-color: transparent;
}

.slide:nth-child(8) {
  background-color: transparent;
}

.slide:nth-child(9) {
  background-color: transparent;
}

.slide:nth-child(10) {
  background-color: transparent;
}

.slide:nth-child(11) {
  background-color: transparent;
}

.slide:nth-child(12) {
  background-color: transparent;
}

.slide:nth-child(13) {
  background-color: transparent;
}

.slide:nth-child(14) {
  background-color: transparent;
}

.slide:nth-child(15) {
  background-color: transparent;
}

.slide:nth-child(16) {
  background-color: transparent;
}

.slide:nth-child(17) {
  background-color: transparent;
}

.slide:nth-child(18) {
  background-color: transparent;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-2250px);
  }
}
.iberia {
  height: 250px;
  position: relative;
  top: -88px;
}

.bayer {
  height: 90px;
  position: relative;
  top: -10px;
}

.accenture {
  height: 230px;
  position: relative;
  top: -80px;
}

.avon {
  height: 150px;
  position: relative;
  top: -38px;
  opacity: 100%;
}

/*# sourceMappingURL=style.css.map */
