.trabajos_header {
  background-color: red;
  opacity: 0.5;
  width: 100%;
  height: 100px;
  max-width: 1366px;
  margin: 0 auto;
}

.main_trabajos {
  display: grid;
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 0.7rem;
  grid-template-areas:
    "trabajo1      trabajo2    trabajo3"
    "trabajo4      trabajo5    trabajo6";
}
.trabajo1 {
  grid-area: trabajo1;
  background-image: url("../images/index_trabajos.jpg");
  background-size: 50vh;
}
.trabajo2 {
  grid-area: trabajo2;
  background-color: blue;
}
.trabajo3 {
  grid-area: trabajo3;
  background-color: green;
}
.trabajo4 {
  grid-area: trabajo4;
  background-color: red;
}
.trabajo5 {
  grid-area: trabajo5;
  background-color: blue;
}
.trabajo6 {
  grid-area: trabajo6;
  background-color: green;
}
