.main_quienSoy {
  background-size: cover;

  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0)
    ),
    url("../images/foto\ locutora.jpg");
  width: 100%;
  max-width: 1366px;

  .quienSoy_description {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-inline: 30px;
    padding-bottom: 10px;

    .h1_quienSoy {
      color: white;
      font-size: $h1-size * 1.5;
      text-align: center;
      letter-spacing: 35px;
    }
    .h2_quienSoy {
      color: white;
    }

    p {
      font-family: $font-family;
      padding-top: 10px;
      color: white;
    }
  }
}
