.main_contacto {
  display: grid;
  height: 98vh;
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 58% 40% 5%;
  column-gap: 0rem;
  row-gap: 0rem;
  grid-template-areas:
    "form              foto_locutora"
    "foto_notebook     iconos"
    "footer             footer";
  /*
@include tablet {
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 58% 40% 5%;
  column-gap: 0rem;
  row-gap: 0rem;
  grid-template-areas:
    "form              foto_locutora"
    "foto_notebook     iconos"
    "footer             footer";
}
*/
  .form {
    grid-area: form;
    display: flex;
    align-items: center;
    justify-content: center;

    .icon_mail {
      width: 180px;
      height: auto;
    }
  }
  .foto_locutora {
    grid-area: foto_locutora;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .foto_notebook {
    grid-area: foto_notebook;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .footer {
    grid-area: footer;
    margin-top: 5px;
  }
  .iconos {
    grid-area: iconos;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
    margin-inline: 60px;

    .icon_whatsapp {
      width: 180px;
      height: auto;
    }
    .icon_fiverr {
      width: 160px;
      height: auto;
    }
    .icon_insta {
      position: relative;
      .icon_instabrad {
        width: 170px;
        height: auto;
      }

      .icons_mic_contact {
        width: 60px;
        height: auto;
        background-color: transparent;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
