.slider {
  background: transparent;
  background-image: linear-gradient(
    to right,
    transparent,
    transparent,
    white,
    transparent,
    transparent
  );
  height: 8 70px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 1140px;
  margin: 0;
}

/*before es la izquierda de la pantalla - el gradiente se mueve a la izq empezando en blanco
.slider::before {
  background: linear-gradient(to left, #fff 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100%;
  position: absolute;
  width: 500px;
  z-index: -1;
}
*/
/*
.slider::after {
  background: linear-gradient(to right, #fff 100%, rgba(255, 255, 255, 0) 0%);
  content: "";
  height: 100%;
  position: absolute;
  width: 500px;
  z-index: -1;
}

.slider::before {
  left: 0;
  top: 0;
}
.slider::after {
  right: 0;
  top: 0;
  /*-webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}*/

.slider .slide-track {
  animation: scroll 60s linear infinite;
  display: flex;
  width: calc(250px * 18);
}

.slider .slide-track:hover {
  animation-play-state: running;
}

.slider .slide {
  height: 70px;
  width: 250px;
}

.slide:nth-child(1) {
  background-color: transparent;
}

.slide:nth-child(2) {
  background-color: transparent;
}

.slide:nth-child(3) {
  background-color: transparent;
}

.slide:nth-child(4) {
  background-color: transparent;
}

.slide:nth-child(5) {
  background-color: transparent;
}
.slide:nth-child(6) {
  background-color: transparent;
}

.slide:nth-child(7) {
  background-color: transparent;
}

.slide:nth-child(8) {
  background-color: transparent;
}

.slide:nth-child(9) {
  background-color: transparent;
}

.slide:nth-child(10) {
  background-color: transparent;
}

.slide:nth-child(11) {
  background-color: transparent;
}

.slide:nth-child(12) {
  background-color: transparent;
}

.slide:nth-child(13) {
  background-color: transparent;
}

.slide:nth-child(14) {
  background-color: transparent;
}

.slide:nth-child(15) {
  background-color: transparent;
}

.slide:nth-child(16) {
  background-color: transparent;
}

.slide:nth-child(17) {
  background-color: transparent;
}

.slide:nth-child(18) {
  background-color: transparent;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 9));
  }
}
