/*HOVER en el INDEX*/
.index_quienSoy {
  transition: transform 0.3s;
}
.index_quienSoy:hover {
  transform: scale(1.3);
}
.index_trabajos {
  transition: transform 0.3s;
}
.index_trabajos:hover {
  transform: scale(1.3);
}
.index_contacto {
  transition: transform 0.3s;
}
.index_contacto:hover {
  transform: scale(1.3);
}
