.header {
  font-family: $font-family;
  font-weight: bolder;
  background-color: rgb(78, 78, 15);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}
.contact_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  .logo {
    font-size: $h1-size-navBar;
  }
}
.navBar {
  & ul {
    display: flex;
    flex-direction: row;
    list-style: none;

    gap: 4rem;

    a {
      text-decoration: none;
      color: white;
      font-size: $h2-size-navBar;
    }
    & :hover {
      transform: scale(1.3);
      transition: 0.2s;
    }
  }
}
