.iberia {
  height: 250px;
  position: relative;
  top: -88px;
}
.bayer {
  height: 90px;
  position: relative;
  top: -10px;
}

.accenture {
  height: 230px;
  position: relative;
  top: -80px;
}
.avon {
  height: 150px;
  position: relative;
  top: -38px;
  opacity: 100%;
}
