$font-family: "Poppins";

$h1-size: 60px;
$h1-letter-spacing: 10px;
$h1-size-navBar: 40px;

$h5-font-family: "Roboto";
$h5-font-size: 20px;

$h2-size: 30px;
$h2-letter-spacing: 5px;
$h2-size-navBar: 20px;
